th{
    background-color: rgb(26, 99, 236);
}
#heading{
    color:white !important;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
  }

  #table-wrapper {
    position:relative;
  }
  #table-scroll {
    height:150px;
    overflow:auto;  
    margin-top:20px;
  }