<div class="container" style="width:100%">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h4><strong>Billing Details</strong></h4>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                        <div class="col-md-3 form-group align-items-center">
                            <div>
                                <label for="">Party Name</label>
                            </div>
                            <div>
                                <input type="text" class="form-control">
                            </div>
                            </div>
                            <div class=" col-md-3 form-group align-items-center">
                                <div>
                                    <label for="">Address</label>
                                </div>
                                <div>
                                    <input type="text" class="form-control">
                                </div>
                                </div>
                                <div class=" col-md-3 form-group align-items-center">
                                    <div>
                                        <label for="">GSTIN NO</label>
                                    </div> 
                                    <div>
                                        <input type="text" class="form-control">
                                    </div>
                                    </div>
                                    <div class=" col-md-3 form-group align-items-center">
                                        <div >
                                            <label for="">Invoice no</label>
                                        </div> 
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                        </div>
                                    </div>
                                    
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <label>Product Details</label>
                        <select class="form-control">
                        <option value="">select product name</option>
                        <option value="">product1</option>
                        <option value="">product2</option>
                        <option value="">product3</option>
                    </select>
                    </div>
                    <div class="col-md-1">
                        <label for="">quantity</label>
                        <input type="text" class="form-control"/>
                    </div>
                    <div class="col-md-2">
                        <label for="">Rate</label>
                        <input type="text" class="form-control"/>
                    </div>
                    <div class="col-md-2">
                        <label for="">Amount rs</label>
                        <input type="text" class="form-control"/>
                    </div>
                    <div class="col-md-2">
                        <label for="">GST %</label>
                        <input type="text" class="form-control"/>
                    </div>
                    <div class="col-md-2">
                        <label for="">Click to add the Product</label>
                        <button type="button" class="btn btn-primary">Add</button>
                    </div>
                </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12" style="margin-top:7px">
                    <table class="table table-bordered table-striped text-center" style="height:300px" style="overflow-y:scroll">
                        <thead style="color:white" >
                          <tr>
                            <th>product name</th>
                            <th>quantity</th>
                            <th>rate</th>
                            <th>amount</th>
                            <th>EDIT/DELETE</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>001</td>
                            <td>ponni rice</td>
                            <td>1kg</td>
                            <td>1000</td>
                            <td ><a href=""><i class="fa fa-trash"></i></a>&nbsp;<a href=""><i class="fa fa-edit"></i></a></td>
                          </tr>
                          <tr>
                            <td>001</td>
                            <td>ponni rice</td>
                            <td>1kg</td>
                            <td>1000</td>
                            <td ><a href=""><i class="fa fa-trash"></i></a>&nbsp;<a href=""><i class="fa fa-edit"></i></a></td>
                    
                          </tr>
                          <tr>
                            <td>001</td>
                            <td>ponni rice</td>
                            <td>1kg</td>
                            <td>1000</td>
                            <td ><a href="" data-toggle="tooltip"><i class="fa fa-trash"></i></a>&nbsp;<a href=""><i class="fa fa-edit"></i></a></td>
                    
                          </tr>
                          <tr>
                            <td>001</td>
                            <td>ponni rice</td>
                            <td>1kg</td>
                            <td>1000</td>
                            <td ><a href=""><i class="fa fa-trash"></i></a>&nbsp;<a href=""><i class="fa fa-edit"></i></a></td>
                    
                          </tr>
                          <tr>
                            <td>001</td>
                            <td>ponni rice</td>
                            <td>1kg</td>
                            <td>1000</td>
                            <td ><a href=""><i class="fa fa-trash"></i></a>&nbsp;<a href=""><i class="fa fa-edit"></i></a></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-2">
                  <label for="">Balance</label>
                  <input type="text" class="form-control">
                </div>
                
                <div class="col-md-2">
                    <label for="">Invoice Bill</label>
                    <input type="text" class="form-control">
                   
                </div>
                <div class="col-md-2">
                    <label for="">Total Amount</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-2">
                    <label for="">Paid</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-2" style="margin-top:2%;">
                    <button type="button" class="btn btn-primary">print</button>
                </div>

            </div>

        </div>
    </div>
    </div>
  
</div>



